.videoSidebar {
  position: absolute;
  top: 40%;
  color: white;
  right: 10px;
}
.videSidebar__button {
  padding: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .videoSidebar {
    top: 28%;
  }
}
